Repository mabraham123/AgileProject, pull requests merged in 2020-01, with the labels that each got.

#3 Preliminary search feature+ database query
  .gitignore
  Software_Code/AgileJavaHospitalProject/build/test/classes/TreatmentFinder/DatabaseTest.class
  Software_Code/AgileJavaHospitalProject/build/test/results/TEST-TreatmentFinder.DatabaseTest.xml
  Software_Code/AgileJavaHospitalProject/build/web/WEB-INF/classes/TreatmentFinder/Database.class
  Software_Code/AgileJavaHospitalProject/build/web/index.html
  Software_Code/AgileJavaHospitalProject/build/web/search.jsp
  Software_Code/AgileJavaHospitalProject/nbproject/private/private.properties
  Software_Code/AgileJavaHospitalProject/nbproject/project.properties
  Software_Code/AgileJavaHospitalProject/src/java/TreatmentFinder/Database.java
  Software_Code/AgileJavaHospitalProject/src/java/TreatmentFinder/Procedure.java
  Software_Code/AgileJavaHospitalProject/test/TreatmentFinder/DatabaseTest.java
  Software_Code/AgileJavaHospitalProject/web/index.html
  Software_Code/AgileJavaHospitalProject/web/search.jsp
  Software_Code/AgileJavaHospitalProject/web/style.css
Labels: enhancement

#4 Procedure class implementation
  Software_Code/AgileJavaHospitalProject/src/java/TreatmentFinder/Database.java
  Software_Code/AgileJavaHospitalProject/src/java/TreatmentFinder/hospital.java
  Software_Code/AgileJavaHospitalProject/src/java/TreatmentFinder/sql.java
  Software_Code/AgileJavaHospitalProject/web/search.jsp
Labels: Code Review

#7 Changed footer to include copyright.
  index.html
Labels: Code Review

#8 Footer fix
  Software_Code/AgileJavaHospitalProject/web/index.html
  index.html
Labels: Code Review

#9 Feature to see sorted locations on map
  Software_Code/AgileJavaHospitalProject/build/web/search.jsp
  Software_Code/AgileJavaHospitalProject/nbproject/private/private.properties
  Software_Code/AgileJavaHospitalProject/nbproject/private/private.xml
  Software_Code/AgileJavaHospitalProject/src/java/TreatmentFinder/Database.java
  Software_Code/AgileJavaHospitalProject/web/search.jsp
  Software_Code/AgileJavaHospitalProject/web/style.css
Labels: Code Review, enhancement

#10 Adds code to sort by distance and groundwork to display on a map
  Software_Code/AgileJavaHospitalProject/build/web/WEB-INF/classes/TreatmentFinder/Database.class
  Software_Code/AgileJavaHospitalProject/build/web/index.html
  Software_Code/AgileJavaHospitalProject/build/web/search.jsp
  Software_Code/AgileJavaHospitalProject/nbproject/private/private.properties
  Software_Code/AgileJavaHospitalProject/nbproject/private/private.xml
  Software_Code/AgileJavaHospitalProject/nbproject/project.properties
  Software_Code/AgileJavaHospitalProject/src/java/TreatmentFinder/Database.java
  Software_Code/AgileJavaHospitalProject/src/java/TreatmentFinder/Helper.java
  Software_Code/AgileJavaHospitalProject/src/java/TreatmentFinder/Procedure.java
  Software_Code/AgileJavaHospitalProject/src/java/TreatmentFinder/sql.java
  Software_Code/AgileJavaHospitalProject/src/java/org/json/.gitignore
  Software_Code/AgileJavaHospitalProject/src/java/org/json/CDL.java
  Software_Code/AgileJavaHospitalProject/src/java/org/json/Cookie.java
  Software_Code/AgileJavaHospitalProject/src/java/org/json/CookieList.java
  Software_Code/AgileJavaHospitalProject/src/java/org/json/HTTP.java
  Software_Code/AgileJavaHospitalProject/src/java/org/json/HTTPTokener.java
  Software_Code/AgileJavaHospitalProject/src/java/org/json/JSONArray.java
  Software_Code/AgileJavaHospitalProject/src/java/org/json/JSONException.java
  Software_Code/AgileJavaHospitalProject/src/java/org/json/JSONML.java
  Software_Code/AgileJavaHospitalProject/src/java/org/json/JSONObject.java
  Software_Code/AgileJavaHospitalProject/src/java/org/json/JSONPointer.java
  Software_Code/AgileJavaHospitalProject/src/java/org/json/JSONPointerException.java
  Software_Code/AgileJavaHospitalProject/src/java/org/json/JSONPropertyIgnore.java
  Software_Code/AgileJavaHospitalProject/src/java/org/json/JSONPropertyName.java
  Software_Code/AgileJavaHospitalProject/src/java/org/json/JSONString.java
  Software_Code/AgileJavaHospitalProject/src/java/org/json/JSONStringer.java
  Software_Code/AgileJavaHospitalProject/src/java/org/json/JSONTokener.java
  Software_Code/AgileJavaHospitalProject/src/java/org/json/JSONWriter.java
  Software_Code/AgileJavaHospitalProject/src/java/org/json/LICENSE
  Software_Code/AgileJavaHospitalProject/src/java/org/json/Property.java
  Software_Code/AgileJavaHospitalProject/src/java/org/json/README.md
  Software_Code/AgileJavaHospitalProject/src/java/org/json/XML.java
  Software_Code/AgileJavaHospitalProject/src/java/org/json/XMLParserConfiguration.java
  Software_Code/AgileJavaHospitalProject/src/java/org/json/XMLTokener.java
  Software_Code/AgileJavaHospitalProject/web/index.html
  Software_Code/AgileJavaHospitalProject/web/search.jsp
  Software_Code/AgileJavaHospitalProject/web/sql.java
  Software_Code/AgileJavaHospitalProject/web/style.css
  distance.php
Labels: Code Review, enhancement

#11 Add files via upload
  index.html
Labels: enhancement

#12 Merging sort by price feature into master
  Software_Code/AgileJavaHospitalProject/web/index.html
  Software_Code/AgileJavaHospitalProject/web/search.jsp
Labels: Code Review, enhancement

#13 Browser geolocation
  Software_Code/AgileJavaHospitalProject/build/web/index.html
  Software_Code/AgileJavaHospitalProject/build/web/search.jsp
  Software_Code/AgileJavaHospitalProject/nbproject/private/private.xml
  Software_Code/AgileJavaHospitalProject/src/java/TreatmentFinder/LocationManager.java
  Software_Code/AgileJavaHospitalProject/test/TreatmentFinder/HelperTest.java
  Software_Code/AgileJavaHospitalProject/test/TreatmentFinder/LocationManagerTest.java
  Software_Code/AgileJavaHospitalProject/web/index.html
  Software_Code/AgileJavaHospitalProject/web/search.jsp
  Software_Code/AgileJavaHospitalProject/web/style.css
Labels: Code Review, enhancement

#14 Browser geolocation
  Software_Code/AgileJavaHospitalProject/build/web/index.html
  Software_Code/AgileJavaHospitalProject/build/web/search.jsp
  Software_Code/AgileJavaHospitalProject/nbproject/private/private.xml
  Software_Code/AgileJavaHospitalProject/web/index.html
  Software_Code/AgileJavaHospitalProject/web/search.jsp
  Software_Code/AgileJavaHospitalProject/web/style.css
Labels: Code Review, enhancement
